<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,122}</string>
                <key>spriteSourceSize</key>
                <string>{139,122}</string>
                <key>textureRect</key>
                <string>{{0,0},{139,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,124}</string>
                <key>spriteSourceSize</key>
                <string>{122,124}</string>
                <key>textureRect</key>
                <string>{{0,122},{122,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,194}</string>
                <key>spriteSourceSize</key>
                <string>{147,194}</string>
                <key>textureRect</key>
                <string>{{0,246},{147,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,177}</string>
                <key>spriteSourceSize</key>
                <string>{127,177}</string>
                <key>textureRect</key>
                <string>{{0,440},{127,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,149}</string>
                <key>spriteSourceSize</key>
                <string>{160,149}</string>
                <key>textureRect</key>
                <string>{{0,617},{160,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,78}</string>
                <key>spriteSourceSize</key>
                <string>{158,78}</string>
                <key>textureRect</key>
                <string>{{0,766},{158,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_right.png</string>
            <key>size</key>
            <string>{160,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b28186b7c66be25887f50cbf650f36d3:50914130811938c119635f0a76ecc075:35344b1f1dc2958ecd5f4751a3f84f78$</string>
            <key>textureFileName</key>
            <string>down_right.png</string>
        </dict>
    </dict>
</plist>
