<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,142}</string>
                <key>textureRect</key>
                <string>{{177,132},{120,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,131}</string>
                <key>spriteSourceSize</key>
                <string>{120,131}</string>
                <key>textureRect</key>
                <string>{{112,0},{120,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,132}</string>
                <key>spriteSourceSize</key>
                <string>{189,132}</string>
                <key>textureRect</key>
                <string>{{232,0},{189,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,134}</string>
                <key>spriteSourceSize</key>
                <string>{177,134}</string>
                <key>textureRect</key>
                <string>{{0,132},{177,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,148}</string>
                <key>spriteSourceSize</key>
                <string>{147,148}</string>
                <key>textureRect</key>
                <string>{{297,132},{147,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_right.png</string>
            <key>size</key>
            <string>{444,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3be04b7c4f1f39898b5f8aa8e2f3f357:7ebf419dd8b414ed2fc14bc514973eae:7eff046a8e6eda71f8e735d563332e9b$</string>
            <key>textureFileName</key>
            <string>up_right.png</string>
        </dict>
    </dict>
</plist>
