<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,249}</string>
                <key>spriteSourceSize</key>
                <string>{275,249}</string>
                <key>textureRect</key>
                <string>{{565,1},{275,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,246}</string>
                <key>spriteSourceSize</key>
                <string>{264,246}</string>
                <key>textureRect</key>
                <string>{{286,249},{264,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,240}</string>
                <key>spriteSourceSize</key>
                <string>{278,240}</string>
                <key>textureRect</key>
                <string>{{552,252},{278,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,244}</string>
                <key>spriteSourceSize</key>
                <string>{283,244}</string>
                <key>textureRect</key>
                <string>{{1,251},{283,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,246}</string>
                <key>spriteSourceSize</key>
                <string>{279,246}</string>
                <key>textureRect</key>
                <string>{{284,1},{279,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,248}</string>
                <key>spriteSourceSize</key>
                <string>{281,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{281,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_right.png</string>
            <key>size</key>
            <string>{841,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5f959ff85132d7869ad428b1a823d75:14bd9c22b55fb5716aabb44057e25bb9:7eff046a8e6eda71f8e735d563332e9b$</string>
            <key>textureFileName</key>
            <string>up_right.png</string>
        </dict>
    </dict>
</plist>
