<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,155}</string>
                <key>spriteSourceSize</key>
                <string>{145,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{145,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,142}</string>
                <key>spriteSourceSize</key>
                <string>{133,142}</string>
                <key>textureRect</key>
                <string>{{148,1},{133,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,112}</string>
                <key>spriteSourceSize</key>
                <string>{139,112}</string>
                <key>textureRect</key>
                <string>{{312,115},{139,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,85}</string>
                <key>spriteSourceSize</key>
                <string>{152,85}</string>
                <key>textureRect</key>
                <string>{{1,158},{152,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,112}</string>
                <key>spriteSourceSize</key>
                <string>{153,112}</string>
                <key>textureRect</key>
                <string>{{283,1},{153,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,107}</string>
                <key>spriteSourceSize</key>
                <string>{155,107}</string>
                <key>textureRect</key>
                <string>{{155,145},{155,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_right.png</string>
            <key>size</key>
            <string>{437,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:086de32cf769cd91f2d47c86fcff7565:0ef69787ac7daca6b94ac2310a74629f:35344b1f1dc2958ecd5f4751a3f84f78$</string>
            <key>textureFileName</key>
            <string>down_right.png</string>
        </dict>
    </dict>
</plist>
