<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,152}</string>
                <key>spriteSourceSize</key>
                <string>{130,152}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,152}</string>
                <key>spriteSourceSize</key>
                <string>{127,152}</string>
                <key>textureRect</key>
                <string>{{1,155},{127,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,120}</string>
                <key>spriteSourceSize</key>
                <string>{109,120}</string>
                <key>textureRect</key>
                <string>{{133,1},{109,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,99}</string>
                <key>spriteSourceSize</key>
                <string>{108,99}</string>
                <key>textureRect</key>
                <string>{{137,288},{108,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,134}</string>
                <key>spriteSourceSize</key>
                <string>{111,134}</string>
                <key>textureRect</key>
                <string>{{1,309},{111,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,131}</string>
                <key>spriteSourceSize</key>
                <string>{111,131}</string>
                <key>textureRect</key>
                <string>{{130,155},{111,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{243,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ba67ce87827e5655db4a8793f1f1306:2e2405b52eaca0981912bea0b6d50e9e:1f82f659e2591d395bca4b2a7c74dd8a$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
