<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,155}</string>
                <key>spriteSourceSize</key>
                <string>{131,155}</string>
                <key>textureRect</key>
                <string>{{135,1},{131,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,147}</string>
                <key>spriteSourceSize</key>
                <string>{140,147}</string>
                <key>textureRect</key>
                <string>{{1,335},{140,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,159}</string>
                <key>spriteSourceSize</key>
                <string>{143,159}</string>
                <key>textureRect</key>
                <string>{{1,174},{143,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,171}</string>
                <key>spriteSourceSize</key>
                <string>{132,171}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,133}</string>
                <key>spriteSourceSize</key>
                <string>{114,133}</string>
                <key>textureRect</key>
                <string>{{150,295},{114,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,135}</string>
                <key>spriteSourceSize</key>
                <string>{114,135}</string>
                <key>textureRect</key>
                <string>{{146,158},{114,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{267,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c9e871bd5814649d7f677320fc5d1a7:1f524836b5342835634425c0899d5852:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
