<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,279}</string>
                <key>spriteSourceSize</key>
                <string>{201,279}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,280}</string>
                <key>spriteSourceSize</key>
                <string>{205,280}</string>
                <key>textureRect</key>
                <string>{{562,206},{205,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,279}</string>
                <key>spriteSourceSize</key>
                <string>{202,279}</string>
                <key>textureRect</key>
                <string>{{282,1},{202,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,279}</string>
                <key>spriteSourceSize</key>
                <string>{203,279}</string>
                <key>textureRect</key>
                <string>{{563,1},{203,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,279}</string>
                <key>spriteSourceSize</key>
                <string>{203,279}</string>
                <key>textureRect</key>
                <string>{{1,204},{203,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,278}</string>
                <key>spriteSourceSize</key>
                <string>{203,278}</string>
                <key>textureRect</key>
                <string>{{282,205},{203,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{843,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8a7ddc7d97f6a76aa543e5095e3c0a3:47dffed58f59004688984402f28c0781:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
