<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,116}</string>
                <key>spriteSourceSize</key>
                <string>{107,116}</string>
                <key>textureRect</key>
                <string>{{110,121},{107,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,116}</string>
                <key>spriteSourceSize</key>
                <string>{105,116}</string>
                <key>textureRect</key>
                <string>{{218,1},{105,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,116}</string>
                <key>spriteSourceSize</key>
                <string>{105,116}</string>
                <key>textureRect</key>
                <string>{{219,119},{105,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{111,1},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,117}</string>
                <key>spriteSourceSize</key>
                <string>{107,117}</string>
                <key>textureRect</key>
                <string>{{1,121},{107,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,118}</string>
                <key>spriteSourceSize</key>
                <string>{108,118}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_left.png</string>
            <key>size</key>
            <string>{325,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7168d156ba51a94a092681369e6bc449:7094c3d3abf6b8055033145fa3b0fdee:da5b6e3ae54a6192e6b4f484c8a7b9f0$</string>
            <key>textureFileName</key>
            <string>down_left.png</string>
        </dict>
    </dict>
</plist>
