<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,124}</string>
                <key>spriteSourceSize</key>
                <string>{108,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,110}</string>
                <key>spriteSourceSize</key>
                <string>{113,110}</string>
                <key>textureRect</key>
                <string>{{127,1},{113,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,97}</string>
                <key>textureRect</key>
                <string>{{1,111},{115,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,87}</string>
                <key>spriteSourceSize</key>
                <string>{112,87}</string>
                <key>textureRect</key>
                <string>{{118,116},{112,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,77}</string>
                <key>spriteSourceSize</key>
                <string>{112,77}</string>
                <key>textureRect</key>
                <string>{{118,205},{112,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,75}</string>
                <key>spriteSourceSize</key>
                <string>{111,75}</string>
                <key>textureRect</key>
                <string>{{1,210},{111,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_right.png</string>
            <key>size</key>
            <string>{238,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc9c83460572e242dfe6f4742d22ca16:6b7e348475925741c7ac0368c5e2f6e6:35344b1f1dc2958ecd5f4751a3f84f78$</string>
            <key>textureFileName</key>
            <string>down_right.png</string>
        </dict>
    </dict>
</plist>
