<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,114}</string>
                <key>spriteSourceSize</key>
                <string>{79,114}</string>
                <key>textureRect</key>
                <string>{{162,1},{79,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{78,116}</string>
                <key>textureRect</key>
                <string>{{83,119},{78,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,117}</string>
                <key>spriteSourceSize</key>
                <string>{78,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,116}</string>
                <key>spriteSourceSize</key>
                <string>{79,116}</string>
                <key>textureRect</key>
                <string>{{81,1},{79,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,113}</string>
                <key>spriteSourceSize</key>
                <string>{80,113}</string>
                <key>textureRect</key>
                <string>{{1,120},{80,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,117}</string>
                <key>spriteSourceSize</key>
                <string>{78,117}</string>
                <key>textureRect</key>
                <string>{{163,117},{78,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{242,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1943661518c1c5b9473c9d934ccd07e5:23be653f74e01a601ab9a3e8cd3c2e76:1f82f659e2591d395bca4b2a7c74dd8a$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
