<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,121}</string>
                <key>spriteSourceSize</key>
                <string>{103,121}</string>
                <key>textureRect</key>
                <string>{{1,104},{103,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,115}</string>
                <key>spriteSourceSize</key>
                <string>{100,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,115}</string>
                <key>spriteSourceSize</key>
                <string>{105,115}</string>
                <key>textureRect</key>
                <string>{{1,209},{105,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,115}</string>
                <key>spriteSourceSize</key>
                <string>{101,115}</string>
                <key>textureRect</key>
                <string>{{118,1},{101,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,121}</string>
                <key>spriteSourceSize</key>
                <string>{103,121}</string>
                <key>textureRect</key>
                <string>{{124,104},{103,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,127}</string>
                <key>spriteSourceSize</key>
                <string>{107,127}</string>
                <key>textureRect</key>
                <string>{{118,209},{107,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_left.png</string>
            <key>size</key>
            <string>{246,317}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae1d39ca97fad2be09d3351eea5d843:226816ab8b633aecefbe952435b4a9f2:59ac35ba4497a1e196ef8cc4ef503378$</string>
            <key>textureFileName</key>
            <string>up_left.png</string>
        </dict>
    </dict>
</plist>
