<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,103}</string>
                <key>spriteSourceSize</key>
                <string>{106,103}</string>
                <key>textureRect</key>
                <string>{{356,1},{106,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,102}</string>
                <key>spriteSourceSize</key>
                <string>{109,102}</string>
                <key>textureRect</key>
                <string>{{245,1},{109,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,103}</string>
                <key>spriteSourceSize</key>
                <string>{104,103}</string>
                <key>textureRect</key>
                <string>{{464,1},{104,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,103}</string>
                <key>spriteSourceSize</key>
                <string>{122,103}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,102}</string>
                <key>spriteSourceSize</key>
                <string>{118,102}</string>
                <key>textureRect</key>
                <string>{{125,1},{118,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,103}</string>
                <key>spriteSourceSize</key>
                <string>{98,103}</string>
                <key>textureRect</key>
                <string>{{570,1},{98,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{669,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce782542c2e9a2d01aaf2a8dc03e3e8a:66fdd5568347dffce6463abb70de8a52:eeed88a3defe439e06eddcb618ab96e1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
