<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,110}</string>
                <key>spriteSourceSize</key>
                <string>{87,110}</string>
                <key>textureRect</key>
                <string>{{103,88},{87,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,108}</string>
                <key>spriteSourceSize</key>
                <string>{83,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{86,100}</string>
                <key>textureRect</key>
                <string>{{1,86},{86,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,103}</string>
                <key>spriteSourceSize</key>
                <string>{90,103}</string>
                <key>textureRect</key>
                <string>{{104,177},{90,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,101}</string>
                <key>spriteSourceSize</key>
                <string>{88,101}</string>
                <key>textureRect</key>
                <string>{{1,177},{88,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,103}</string>
                <key>spriteSourceSize</key>
                <string>{85,103}</string>
                <key>textureRect</key>
                <string>{{111,1},{85,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_left.png</string>
            <key>size</key>
            <string>{215,268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db937f11e047bf44c32fa08d76996f5d:d07e2dd646f2cc5281fed6c6dbf0443e:59ac35ba4497a1e196ef8cc4ef503378$</string>
            <key>textureFileName</key>
            <string>up_left.png</string>
        </dict>
    </dict>
</plist>
