<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,224}</string>
                <key>spriteSourceSize</key>
                <string>{200,224}</string>
                <key>textureRect</key>
                <string>{{226,446},{200,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,222}</string>
                <key>spriteSourceSize</key>
                <string>{197,222}</string>
                <key>textureRect</key>
                <string>{{1,450},{197,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,224}</string>
                <key>spriteSourceSize</key>
                <string>{204,224}</string>
                <key>textureRect</key>
                <string>{{226,240},{204,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,223}</string>
                <key>spriteSourceSize</key>
                <string>{222,223}</string>
                <key>textureRect</key>
                <string>{{1,226},{222,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,224}</string>
                <key>spriteSourceSize</key>
                <string>{237,224}</string>
                <key>textureRect</key>
                <string>{{251,1},{237,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,223}</string>
                <key>spriteSourceSize</key>
                <string>{248,223}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{476,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:664a102b35cb2b02bef5ccccc7bcaf0a:374b46af16a6866c6b874590664dec9f:1f82f659e2591d395bca4b2a7c74dd8a$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
