<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,272}</string>
                <key>spriteSourceSize</key>
                <string>{196,272}</string>
                <key>textureRect</key>
                <string>{{277,1},{196,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,274}</string>
                <key>spriteSourceSize</key>
                <string>{194,274}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,273}</string>
                <key>spriteSourceSize</key>
                <string>{210,273}</string>
                <key>textureRect</key>
                <string>{{551,1},{210,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,275}</string>
                <key>spriteSourceSize</key>
                <string>{225,275}</string>
                <key>textureRect</key>
                <string>{{1,199},{225,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,273}</string>
                <key>spriteSourceSize</key>
                <string>{233,273}</string>
                <key>textureRect</key>
                <string>{{550,213},{233,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,270}</string>
                <key>spriteSourceSize</key>
                <string>{240,270}</string>
                <key>textureRect</key>
                <string>{{278,199},{240,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{825,447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9eb5b47ced518da8de7f42f9b832b5b:60284e0713ffc374cb44b9db1e0f41a9:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
