<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,241}</string>
                <key>spriteSourceSize</key>
                <string>{269,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,213}</string>
                <key>spriteSourceSize</key>
                <string>{265,213}</string>
                <key>textureRect</key>
                <string>{{244,1},{265,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,208}</string>
                <key>spriteSourceSize</key>
                <string>{265,208}</string>
                <key>textureRect</key>
                <string>{{1,272},{265,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,212}</string>
                <key>spriteSourceSize</key>
                <string>{265,212}</string>
                <key>textureRect</key>
                <string>{{268,268},{265,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,203}</string>
                <key>spriteSourceSize</key>
                <string>{264,203}</string>
                <key>textureRect</key>
                <string>{{535,205},{264,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,202}</string>
                <key>spriteSourceSize</key>
                <string>{266,202}</string>
                <key>textureRect</key>
                <string>{{459,1},{266,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_left.png</string>
            <key>size</key>
            <string>{739,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2de716deb28a5e9a1fa7fb71aececd8d:d90d0e21bd2b5218109fdf25fb38d502:59ac35ba4497a1e196ef8cc4ef503378$</string>
            <key>textureFileName</key>
            <string>up_left.png</string>
        </dict>
    </dict>
</plist>
