<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,189}</string>
                <key>spriteSourceSize</key>
                <string>{132,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,128}</string>
                <key>spriteSourceSize</key>
                <string>{180,128}</string>
                <key>textureRect</key>
                <string>{{1,444},{180,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,153}</string>
                <key>spriteSourceSize</key>
                <string>{185,153}</string>
                <key>textureRect</key>
                <string>{{1,135},{185,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,152}</string>
                <key>spriteSourceSize</key>
                <string>{180,152}</string>
                <key>textureRect</key>
                <string>{{1,290},{180,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,148}</string>
                <key>spriteSourceSize</key>
                <string>{159,148}</string>
                <key>textureRect</key>
                <string>{{1,574},{159,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,154}</string>
                <key>spriteSourceSize</key>
                <string>{143,154}</string>
                <key>textureRect</key>
                <string>{{1,724},{143,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left.png</string>
            <key>size</key>
            <string>{191,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73ea716288e494cedbbf559e4efe0f12:29646c809ef9ec1ba20cb0c22bf759fe:dfecac88dae6b1f6cbf6e1af60e02e07$</string>
            <key>textureFileName</key>
            <string>left.png</string>
        </dict>
    </dict>
</plist>
