<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,178}</string>
                <key>spriteSourceSize</key>
                <string>{144,178}</string>
                <key>textureRect</key>
                <string>{{312,142},{144,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,142}</string>
                <key>spriteSourceSize</key>
                <string>{165,142}</string>
                <key>textureRect</key>
                <string>{{145,141},{165,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,158}</string>
                <key>spriteSourceSize</key>
                <string>{139,158}</string>
                <key>textureRect</key>
                <string>{{320,1},{139,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,157}</string>
                <key>spriteSourceSize</key>
                <string>{133,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{133,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,158}</string>
                <key>spriteSourceSize</key>
                <string>{138,158}</string>
                <key>textureRect</key>
                <string>{{160,1},{138,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,139}</string>
                <key>spriteSourceSize</key>
                <string>{142,139}</string>
                <key>textureRect</key>
                <string>{{1,136},{142,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_left.png</string>
            <key>size</key>
            <string>{491,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3949e1b4f91815fa1ac90164c3bb64a:0d8da9e9aedb6a832b03bb2e9bd36582:59ac35ba4497a1e196ef8cc4ef503378$</string>
            <key>textureFileName</key>
            <string>up_left.png</string>
        </dict>
    </dict>
</plist>
