<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,206}</string>
                <key>spriteSourceSize</key>
                <string>{126,206}</string>
                <key>textureRect</key>
                <string>{{195,236},{126,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,197}</string>
                <key>spriteSourceSize</key>
                <string>{130,197}</string>
                <key>textureRect</key>
                <string>{{177,364},{130,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,192}</string>
                <key>spriteSourceSize</key>
                <string>{164,192}</string>
                <key>textureRect</key>
                <string>{{1,188},{164,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,185}</string>
                <key>spriteSourceSize</key>
                <string>{236,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,179}</string>
                <key>spriteSourceSize</key>
                <string>{233,179}</string>
                <key>textureRect</key>
                <string>{{239,1},{233,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,174}</string>
                <key>spriteSourceSize</key>
                <string>{134,174}</string>
                <key>textureRect</key>
                <string>{{1,354},{134,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_left.png</string>
            <key>size</key>
            <string>{419,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ba41c20ee52ae54712d9fe6ac86bb7a:f6e7ca2a7d02ea0577ae1dbff72ecc97:da5b6e3ae54a6192e6b4f484c8a7b9f0$</string>
            <key>textureFileName</key>
            <string>down_left.png</string>
        </dict>
    </dict>
</plist>
