<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,191}</string>
                <key>spriteSourceSize</key>
                <string>{142,191}</string>
                <key>textureRect</key>
                <string>{{272,166},{142,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,193}</string>
                <key>spriteSourceSize</key>
                <string>{170,193}</string>
                <key>textureRect</key>
                <string>{{206,310},{170,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,192}</string>
                <key>spriteSourceSize</key>
                <string>{203,192}</string>
                <key>textureRect</key>
                <string>{{1,310},{203,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,155}</string>
                <key>spriteSourceSize</key>
                <string>{269,155}</string>
                <key>textureRect</key>
                <string>{{1,153},{269,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,150}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,163}</string>
                <key>spriteSourceSize</key>
                <string>{175,163}</string>
                <key>textureRect</key>
                <string>{{273,1},{175,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{464,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9549f19791dd6c7f97749b27c2e417d0:dd982d75b812f85f7bf4ddd08db57cc3:1f82f659e2591d395bca4b2a7c74dd8a$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
