<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,208}</string>
                <key>spriteSourceSize</key>
                <string>{139,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,194}</string>
                <key>spriteSourceSize</key>
                <string>{142,194}</string>
                <key>textureRect</key>
                <string>{{211,1},{142,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,192}</string>
                <key>spriteSourceSize</key>
                <string>{137,192}</string>
                <key>textureRect</key>
                <string>{{1,325},{137,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,203}</string>
                <key>spriteSourceSize</key>
                <string>{181,203}</string>
                <key>textureRect</key>
                <string>{{1,142},{181,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,200}</string>
                <key>spriteSourceSize</key>
                <string>{177,200}</string>
                <key>textureRect</key>
                <string>{{206,145},{177,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,183}</string>
                <key>spriteSourceSize</key>
                <string>{137,183}</string>
                <key>textureRect</key>
                <string>{{195,325},{137,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left.png</string>
            <key>size</key>
            <string>{407,463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab9fe3ffcf85b194aadcbf812fa58b4b:2e712e570c6e97f4f6ba428ebf9c7f4b:dfecac88dae6b1f6cbf6e1af60e02e07$</string>
            <key>textureFileName</key>
            <string>left.png</string>
        </dict>
    </dict>
</plist>
