<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,157}</string>
                <key>spriteSourceSize</key>
                <string>{142,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,131}</string>
                <key>spriteSourceSize</key>
                <string>{156,131}</string>
                <key>textureRect</key>
                <string>{{1,145},{156,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,113}</string>
                <key>spriteSourceSize</key>
                <string>{145,113}</string>
                <key>textureRect</key>
                <string>{{105,361},{145,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,102}</string>
                <key>spriteSourceSize</key>
                <string>{186,102}</string>
                <key>textureRect</key>
                <string>{{1,278},{186,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,95}</string>
                <key>spriteSourceSize</key>
                <string>{178,95}</string>
                <key>textureRect</key>
                <string>{{160,1},{178,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,83}</string>
                <key>spriteSourceSize</key>
                <string>{178,83}</string>
                <key>textureRect</key>
                <string>{{159,181},{178,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left.png</string>
            <key>size</key>
            <string>{256,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51c99105383417872e15160a12a12967:225b0dd96278015e422a56a1e6d895da:dfecac88dae6b1f6cbf6e1af60e02e07$</string>
            <key>textureFileName</key>
            <string>left.png</string>
        </dict>
    </dict>
</plist>
