<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,115}</string>
                <key>spriteSourceSize</key>
                <string>{94,115}</string>
                <key>textureRect</key>
                <string>{{292,1},{94,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,115}</string>
                <key>spriteSourceSize</key>
                <string>{93,115}</string>
                <key>textureRect</key>
                <string>{{484,1},{93,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,115}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,115}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{98,1},{95,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,115}</string>
                <key>spriteSourceSize</key>
                <string>{95,115}</string>
                <key>textureRect</key>
                <string>{{195,1},{95,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,115}</string>
                <key>spriteSourceSize</key>
                <string>{94,115}</string>
                <key>textureRect</key>
                <string>{{388,1},{94,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left.png</string>
            <key>size</key>
            <string>{578,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50e6a8504fec37283c01a4332c6f9bff:0fceca695a4c6456f5060ffe7562bde0:dfecac88dae6b1f6cbf6e1af60e02e07$</string>
            <key>textureFileName</key>
            <string>left.png</string>
        </dict>
    </dict>
</plist>
