<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,119}</string>
                <key>spriteSourceSize</key>
                <string>{97,119}</string>
                <key>textureRect</key>
                <string>{{302,1},{97,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,119}</string>
                <key>spriteSourceSize</key>
                <string>{98,119}</string>
                <key>textureRect</key>
                <string>{{102,1},{98,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,118}</string>
                <key>spriteSourceSize</key>
                <string>{98,118}</string>
                <key>textureRect</key>
                <string>{{500,1},{98,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,119}</string>
                <key>spriteSourceSize</key>
                <string>{98,119}</string>
                <key>textureRect</key>
                <string>{{202,1},{98,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,119}</string>
                <key>spriteSourceSize</key>
                <string>{99,119}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,119}</string>
                <key>spriteSourceSize</key>
                <string>{97,119}</string>
                <key>textureRect</key>
                <string>{{401,1},{97,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_right.png</string>
            <key>size</key>
            <string>{599,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d36f2d51d2efa7b2fb2f89a76ba9fa0e:2cc3cd59c4bb3cdf4cef577e3a1e09b2:7eff046a8e6eda71f8e735d563332e9b$</string>
            <key>textureFileName</key>
            <string>up_right.png</string>
        </dict>
    </dict>
</plist>
