<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,187}</string>
                <key>spriteSourceSize</key>
                <string>{136,187}</string>
                <key>textureRect</key>
                <string>{{284,129},{136,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,179}</string>
                <key>spriteSourceSize</key>
                <string>{170,179}</string>
                <key>textureRect</key>
                <string>{{114,129},{170,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,129}</string>
                <key>spriteSourceSize</key>
                <string>{150,129}</string>
                <key>textureRect</key>
                <string>{{273,0},{150,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,113}</string>
                <key>spriteSourceSize</key>
                <string>{136,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,118}</string>
                <key>spriteSourceSize</key>
                <string>{137,118}</string>
                <key>textureRect</key>
                <string>{{136,0},{137,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,131}</string>
                <key>spriteSourceSize</key>
                <string>{114,131}</string>
                <key>textureRect</key>
                <string>{{0,129},{114,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_left.png</string>
            <key>size</key>
            <string>{423,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65f09679ddce3e116d87deb7ff289286:6b75875667bbe9ac045638924f0ff408:da5b6e3ae54a6192e6b4f484c8a7b9f0$</string>
            <key>textureFileName</key>
            <string>down_left.png</string>
        </dict>
    </dict>
</plist>
