<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,106}</string>
                <key>spriteSourceSize</key>
                <string>{99,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,109}</string>
                <key>spriteSourceSize</key>
                <string>{96,109}</string>
                <key>textureRect</key>
                <string>{{1,109},{96,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,71}</string>
                <key>spriteSourceSize</key>
                <string>{131,71}</string>
                <key>textureRect</key>
                <string>{{102,1},{131,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,67}</string>
                <key>spriteSourceSize</key>
                <string>{137,67}</string>
                <key>textureRect</key>
                <string>{{99,146},{137,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,69}</string>
                <key>spriteSourceSize</key>
                <string>{135,69}</string>
                <key>textureRect</key>
                <string>{{99,215},{135,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,70}</string>
                <key>spriteSourceSize</key>
                <string>{132,70}</string>
                <key>textureRect</key>
                <string>{{102,74},{132,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{237,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fc8c02e716c64d58cc70fe550a84b83:996355d73afbd786b739eb33c57d656b:eeed88a3defe439e06eddcb618ab96e1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
