<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,181}</string>
                <key>spriteSourceSize</key>
                <string>{178,181}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,143}</string>
                <key>spriteSourceSize</key>
                <string>{234,143}</string>
                <key>textureRect</key>
                <string>{{1,184},{234,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,137}</string>
                <key>spriteSourceSize</key>
                <string>{212,137}</string>
                <key>textureRect</key>
                <string>{{1,329},{212,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,107}</string>
                <key>textureRect</key>
                <string>{{215,360},{183,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,126}</string>
                <key>spriteSourceSize</key>
                <string>{228,126}</string>
                <key>textureRect</key>
                <string>{{237,130},{228,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,127}</string>
                <key>spriteSourceSize</key>
                <string>{233,127}</string>
                <key>textureRect</key>
                <string>{{181,1},{233,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left.png</string>
            <key>size</key>
            <string>{415,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab543e193453e6c1a1de90b18b429135:3fe2f4e8cfbb924ba074b72863a0020a:dfecac88dae6b1f6cbf6e1af60e02e07$</string>
            <key>textureFileName</key>
            <string>left.png</string>
        </dict>
    </dict>
</plist>
