<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,221}</string>
                <key>spriteSourceSize</key>
                <string>{163,221}</string>
                <key>textureRect</key>
                <string>{{1,1},{163,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,196}</string>
                <key>spriteSourceSize</key>
                <string>{148,196}</string>
                <key>textureRect</key>
                <string>{{1,166},{148,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,181}</string>
                <key>spriteSourceSize</key>
                <string>{121,181}</string>
                <key>textureRect</key>
                <string>{{196,354},{121,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,178}</string>
                <key>spriteSourceSize</key>
                <string>{177,178}</string>
                <key>textureRect</key>
                <string>{{224,1},{177,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,171}</string>
                <key>spriteSourceSize</key>
                <string>{192,171}</string>
                <key>textureRect</key>
                <string>{{199,181},{192,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,170}</string>
                <key>spriteSourceSize</key>
                <string>{193,170}</string>
                <key>textureRect</key>
                <string>{{1,316},{193,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{402,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e9418f5f8e3e9253477e0871fb438fb:74ba9b81775c5d55203f607982f50d31:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
