<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,192}</string>
                <key>spriteSourceSize</key>
                <string>{197,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{197,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,161}</string>
                <key>spriteSourceSize</key>
                <string>{218,161}</string>
                <key>textureRect</key>
                <string>{{1,195},{218,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,171}</string>
                <key>spriteSourceSize</key>
                <string>{198,171}</string>
                <key>textureRect</key>
                <string>{{1,358},{198,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,155}</string>
                <key>spriteSourceSize</key>
                <string>{213,155}</string>
                <key>textureRect</key>
                <string>{{1,531},{213,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,141}</string>
                <key>spriteSourceSize</key>
                <string>{213,141}</string>
                <key>textureRect</key>
                <string>{{1,688},{213,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,138}</string>
                <key>spriteSourceSize</key>
                <string>{213,138}</string>
                <key>textureRect</key>
                <string>{{1,831},{213,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_right.png</string>
            <key>size</key>
            <string>{220,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16494db8bb7210b9b170d687e6c3b3ee:ab7dabd17ab12bca0fc27a616acc6c04:7eff046a8e6eda71f8e735d563332e9b$</string>
            <key>textureFileName</key>
            <string>up_right.png</string>
        </dict>
    </dict>
</plist>
