<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,157}</string>
                <key>spriteSourceSize</key>
                <string>{91,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,153}</string>
                <key>spriteSourceSize</key>
                <string>{96,153}</string>
                <key>textureRect</key>
                <string>{{160,1},{96,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,121}</string>
                <key>spriteSourceSize</key>
                <string>{105,121}</string>
                <key>textureRect</key>
                <string>{{1,94},{105,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,108}</string>
                <key>spriteSourceSize</key>
                <string>{162,108}</string>
                <key>textureRect</key>
                <string>{{124,99},{162,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,103}</string>
                <key>spriteSourceSize</key>
                <string>{120,103}</string>
                <key>textureRect</key>
                <string>{{315,1},{120,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{114,119}</string>
                <key>textureRect</key>
                <string>{{288,106},{114,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{436,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00a6710f3465bd5903366619c40c0b96:733fcf43f85242c1d79cd17bca3ef883:1f82f659e2591d395bca4b2a7c74dd8a$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
