<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,126}</string>
                <key>spriteSourceSize</key>
                <string>{143,126}</string>
                <key>textureRect</key>
                <string>{{226,1},{143,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{116,1},{144,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{211,147},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,144}</string>
                <key>spriteSourceSize</key>
                <string>{113,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,100}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{117,147},{92,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,103}</string>
                <key>spriteSourceSize</key>
                <string>{114,103}</string>
                <key>textureRect</key>
                <string>{{1,147},{114,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left.png</string>
            <key>size</key>
            <string>{356,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a38d653c2030577d40a686f1d33ad14:39c9397101ff605abaa048548820f9aa:dfecac88dae6b1f6cbf6e1af60e02e07$</string>
            <key>textureFileName</key>
            <string>left.png</string>
        </dict>
    </dict>
</plist>
