<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,255}</string>
                <key>spriteSourceSize</key>
                <string>{264,255}</string>
                <key>textureRect</key>
                <string>{{1365,1},{264,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,256}</string>
                <key>spriteSourceSize</key>
                <string>{269,256}</string>
                <key>textureRect</key>
                <string>{{553,1},{269,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,255}</string>
                <key>spriteSourceSize</key>
                <string>{275,255}</string>
                <key>textureRect</key>
                <string>{{1,1},{275,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,255}</string>
                <key>spriteSourceSize</key>
                <string>{273,255}</string>
                <key>textureRect</key>
                <string>{{278,1},{273,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,255}</string>
                <key>spriteSourceSize</key>
                <string>{268,255}</string>
                <key>textureRect</key>
                <string>{{1095,1},{268,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,255}</string>
                <key>spriteSourceSize</key>
                <string>{269,255}</string>
                <key>textureRect</key>
                <string>{{824,1},{269,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_left.png</string>
            <key>size</key>
            <string>{1630,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:106e163af13c39182f03e5712a67f1c4:7331cd2f1bea7bf00eaae7b65d7efc7f:59ac35ba4497a1e196ef8cc4ef503378$</string>
            <key>textureFileName</key>
            <string>up_left.png</string>
        </dict>
    </dict>
</plist>
