<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,166}</string>
                <key>spriteSourceSize</key>
                <string>{150,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,166}</string>
                <key>spriteSourceSize</key>
                <string>{150,166}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,166}</string>
                <key>spriteSourceSize</key>
                <string>{150,166}</string>
                <key>textureRect</key>
                <string>{{305,1},{150,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,166}</string>
                <key>spriteSourceSize</key>
                <string>{150,166}</string>
                <key>textureRect</key>
                <string>{{457,1},{150,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,166}</string>
                <key>spriteSourceSize</key>
                <string>{150,166}</string>
                <key>textureRect</key>
                <string>{{609,1},{150,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,166}</string>
                <key>spriteSourceSize</key>
                <string>{150,166}</string>
                <key>textureRect</key>
                <string>{{761,1},{150,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{912,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e59764e199ec20d5d33ed6b647a257e:ebf960b4b3d17e6d44876cabe2aaffd8:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
