<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,166}</string>
                <key>spriteSourceSize</key>
                <string>{186,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,166}</string>
                <key>spriteSourceSize</key>
                <string>{186,166}</string>
                <key>textureRect</key>
                <string>{{1,169},{186,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,166}</string>
                <key>spriteSourceSize</key>
                <string>{184,166}</string>
                <key>textureRect</key>
                <string>{{1,673},{184,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,166}</string>
                <key>spriteSourceSize</key>
                <string>{184,166}</string>
                <key>textureRect</key>
                <string>{{1,841},{184,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,166}</string>
                <key>spriteSourceSize</key>
                <string>{186,166}</string>
                <key>textureRect</key>
                <string>{{1,337},{186,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,166}</string>
                <key>spriteSourceSize</key>
                <string>{185,166}</string>
                <key>textureRect</key>
                <string>{{1,505},{185,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_right.png</string>
            <key>size</key>
            <string>{188,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af51ffc17fa45ecd13b6e028450eaf00:a44e7f9852c46f5f39460c3a2f0d5a30:7eff046a8e6eda71f8e735d563332e9b$</string>
            <key>textureFileName</key>
            <string>up_right.png</string>
        </dict>
    </dict>
</plist>
