<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,162}</string>
                <key>spriteSourceSize</key>
                <string>{146,162}</string>
                <key>textureRect</key>
                <string>{{1,331},{146,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,163}</string>
                <key>spriteSourceSize</key>
                <string>{146,163}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,163}</string>
                <key>spriteSourceSize</key>
                <string>{146,163}</string>
                <key>textureRect</key>
                <string>{{1,166},{146,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,162}</string>
                <key>spriteSourceSize</key>
                <string>{146,162}</string>
                <key>textureRect</key>
                <string>{{1,495},{146,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,162}</string>
                <key>spriteSourceSize</key>
                <string>{146,162}</string>
                <key>textureRect</key>
                <string>{{1,659},{146,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,162}</string>
                <key>spriteSourceSize</key>
                <string>{146,162}</string>
                <key>textureRect</key>
                <string>{{1,823},{146,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{148,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cf34ed510e8d7ecb4af5f39b5de350a:ae2ce5e94aee41bf25cac127d46e1731:eeed88a3defe439e06eddcb618ab96e1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
