<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,210}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,1482},{320,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,294}</string>
                <key>spriteSourceSize</key>
                <string>{244,294}</string>
                <key>textureRect</key>
                <string>{{1,895},{244,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,294}</string>
                <key>spriteSourceSize</key>
                <string>{245,294}</string>
                <key>textureRect</key>
                <string>{{1,599},{245,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,290}</string>
                <key>spriteSourceSize</key>
                <string>{246,290}</string>
                <key>textureRect</key>
                <string>{{1,307},{246,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,289}</string>
                <key>spriteSourceSize</key>
                <string>{241,289}</string>
                <key>textureRect</key>
                <string>{{1,1191},{241,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,247}</string>
                <key>spriteSourceSize</key>
                <string>{304,247}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{249,1803}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e119e97081097e47b64f4c06a4172399:5929b41712ed62c6ae0bfddfad338fc0:eeed88a3defe439e06eddcb618ab96e1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
