<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,133}</string>
                <key>spriteSourceSize</key>
                <string>{141,133}</string>
                <key>textureRect</key>
                <string>{{0,0},{141,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,134}</string>
                <key>spriteSourceSize</key>
                <string>{140,134}</string>
                <key>textureRect</key>
                <string>{{141,0},{140,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,134}</string>
                <key>spriteSourceSize</key>
                <string>{138,134}</string>
                <key>textureRect</key>
                <string>{{281,0},{138,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,133}</string>
                <key>spriteSourceSize</key>
                <string>{137,133}</string>
                <key>textureRect</key>
                <string>{{419,0},{137,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,133}</string>
                <key>spriteSourceSize</key>
                <string>{136,133}</string>
                <key>textureRect</key>
                <string>{{556,0},{136,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,133}</string>
                <key>spriteSourceSize</key>
                <string>{138,133}</string>
                <key>textureRect</key>
                <string>{{692,0},{138,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{830,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2cf802c286ab7c4c209dc17e29fa3b6:4a09f7a2b3fdaa1f55bb24375feb3842:1f82f659e2591d395bca4b2a7c74dd8a$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
