<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,101}</string>
                <key>spriteSourceSize</key>
                <string>{81,101}</string>
                <key>textureRect</key>
                <string>{{91,120},{81,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,103}</string>
                <key>spriteSourceSize</key>
                <string>{88,103}</string>
                <key>textureRect</key>
                <string>{{1,120},{88,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,117}</string>
                <key>spriteSourceSize</key>
                <string>{97,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,93}</string>
                <key>spriteSourceSize</key>
                <string>{81,93}</string>
                <key>textureRect</key>
                <string>{{183,1},{81,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,95}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{100,1},{81,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,95}</string>
                <key>spriteSourceSize</key>
                <string>{81,95}</string>
                <key>textureRect</key>
                <string>{{174,98},{81,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{265,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91571d42025bbe2ef099817da5a76086:a7e36db780179cd9342acab26185ecea:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
