<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,144}</string>
                <key>spriteSourceSize</key>
                <string>{138,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,143}</string>
                <key>spriteSourceSize</key>
                <string>{138,143}</string>
                <key>textureRect</key>
                <string>{{0,144},{138,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,143}</string>
                <key>spriteSourceSize</key>
                <string>{137,143}</string>
                <key>textureRect</key>
                <string>{{0,287},{137,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{136,142}</string>
                <key>textureRect</key>
                <string>{{0,430},{136,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,142}</string>
                <key>spriteSourceSize</key>
                <string>{136,142}</string>
                <key>textureRect</key>
                <string>{{0,572},{136,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,143}</string>
                <key>spriteSourceSize</key>
                <string>{137,143}</string>
                <key>textureRect</key>
                <string>{{0,714},{137,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_left.png</string>
            <key>size</key>
            <string>{138,857}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd09a639d5778dd41277f70257507efd:c094f5addbe9b4972f96daa560583f3d:da5b6e3ae54a6192e6b4f484c8a7b9f0$</string>
            <key>textureFileName</key>
            <string>down_left.png</string>
        </dict>
    </dict>
</plist>
