<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,131}</string>
                <key>spriteSourceSize</key>
                <string>{158,131}</string>
                <key>textureRect</key>
                <string>{{0,0},{158,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,131}</string>
                <key>spriteSourceSize</key>
                <string>{158,131}</string>
                <key>textureRect</key>
                <string>{{0,131},{158,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,130}</string>
                <key>spriteSourceSize</key>
                <string>{157,130}</string>
                <key>textureRect</key>
                <string>{{0,262},{157,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,130}</string>
                <key>spriteSourceSize</key>
                <string>{157,130}</string>
                <key>textureRect</key>
                <string>{{0,392},{157,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,129}</string>
                <key>spriteSourceSize</key>
                <string>{157,129}</string>
                <key>textureRect</key>
                <string>{{0,522},{157,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,130}</string>
                <key>spriteSourceSize</key>
                <string>{157,130}</string>
                <key>textureRect</key>
                <string>{{0,651},{157,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_right.png</string>
            <key>size</key>
            <string>{158,781}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4d52661d80e0295e389c3cb3a901c92:eabd7cc2252996fdceb33be8742c3c8a:35344b1f1dc2958ecd5f4751a3f84f78$</string>
            <key>textureFileName</key>
            <string>down_right.png</string>
        </dict>
    </dict>
</plist>
