<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,109}</string>
                <key>spriteSourceSize</key>
                <string>{138,109}</string>
                <key>textureRect</key>
                <string>{{140,142},{138,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,129}</string>
                <key>spriteSourceSize</key>
                <string>{142,129}</string>
                <key>textureRect</key>
                <string>{{1,281},{142,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,141}</string>
                <key>spriteSourceSize</key>
                <string>{137,141}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,141}</string>
                <key>spriteSourceSize</key>
                <string>{118,141}</string>
                <key>textureRect</key>
                <string>{{132,282},{118,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,139}</string>
                <key>spriteSourceSize</key>
                <string>{109,139}</string>
                <key>textureRect</key>
                <string>{{140,1},{109,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,135}</string>
                <key>spriteSourceSize</key>
                <string>{137,135}</string>
                <key>textureRect</key>
                <string>{{1,144},{137,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_left.png</string>
            <key>size</key>
            <string>{251,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38970d723028835c27b1ee3f90dc8ac4:29941076874e848058d03a269a5d720e:59ac35ba4497a1e196ef8cc4ef503378$</string>
            <key>textureFileName</key>
            <string>up_left.png</string>
        </dict>
    </dict>
</plist>
