<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,118}</string>
                <key>spriteSourceSize</key>
                <string>{94,118}</string>
                <key>textureRect</key>
                <string>{{1,373},{94,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,111}</string>
                <key>spriteSourceSize</key>
                <string>{96,111}</string>
                <key>textureRect</key>
                <string>{{1,613},{96,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,121}</string>
                <key>spriteSourceSize</key>
                <string>{94,121}</string>
                <key>textureRect</key>
                <string>{{1,129},{94,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,118}</string>
                <key>spriteSourceSize</key>
                <string>{94,118}</string>
                <key>textureRect</key>
                <string>{{1,493},{94,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,119}</string>
                <key>spriteSourceSize</key>
                <string>{94,119}</string>
                <key>textureRect</key>
                <string>{{1,252},{94,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,126}</string>
                <key>spriteSourceSize</key>
                <string>{93,126}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{98,725}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a41d6e34c332755d1bc2bb9af08ad7b:25c27ee117aafaabd824a480f09cda84:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
