<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,162}</string>
                <key>spriteSourceSize</key>
                <string>{136,162}</string>
                <key>textureRect</key>
                <string>{{364,1},{136,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,134}</string>
                <key>spriteSourceSize</key>
                <string>{176,134}</string>
                <key>textureRect</key>
                <string>{{186,1},{176,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,138}</string>
                <key>spriteSourceSize</key>
                <string>{183,138}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,140}</string>
                <key>spriteSourceSize</key>
                <string>{178,140}</string>
                <key>textureRect</key>
                <string>{{1,141},{178,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,151}</string>
                <key>spriteSourceSize</key>
                <string>{164,151}</string>
                <key>textureRect</key>
                <string>{{186,137},{164,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,136}</string>
                <key>spriteSourceSize</key>
                <string>{127,136}</string>
                <key>textureRect</key>
                <string>{{352,165},{127,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{501,293}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:881a2b40805b9365b294f39bb5541a59:5f5de9d93503f7e8eff3bc5631074803:eeed88a3defe439e06eddcb618ab96e1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
