<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,142}</string>
                <key>spriteSourceSize</key>
                <string>{119,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{124,130}</string>
                <key>textureRect</key>
                <string>{{122,1},{124,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{248,1},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,131}</string>
                <key>spriteSourceSize</key>
                <string>{116,131}</string>
                <key>textureRect</key>
                <string>{{141,133},{116,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,102}</string>
                <key>spriteSourceSize</key>
                <string>{121,102}</string>
                <key>textureRect</key>
                <string>{{274,119},{121,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,101}</string>
                <key>spriteSourceSize</key>
                <string>{138,101}</string>
                <key>textureRect</key>
                <string>{{1,145},{138,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_left.png</string>
            <key>size</key>
            <string>{377,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:195468bcf80988cb575dbd26d44554eb:c2b41640a18630baafaf2044a4027daa:da5b6e3ae54a6192e6b4f484c8a7b9f0$</string>
            <key>textureFileName</key>
            <string>down_left.png</string>
        </dict>
    </dict>
</plist>
