<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,204}</string>
                <key>spriteSourceSize</key>
                <string>{264,204}</string>
                <key>textureRect</key>
                <string>{{346,686},{264,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,343}</string>
                <key>spriteSourceSize</key>
                <string>{281,343}</string>
                <key>textureRect</key>
                <string>{{1,1},{281,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,343}</string>
                <key>spriteSourceSize</key>
                <string>{276,343}</string>
                <key>textureRect</key>
                <string>{{1,688},{276,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,345}</string>
                <key>spriteSourceSize</key>
                <string>{269,345}</string>
                <key>textureRect</key>
                <string>{{284,339},{269,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,340}</string>
                <key>spriteSourceSize</key>
                <string>{280,340}</string>
                <key>textureRect</key>
                <string>{{1,346},{280,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,336}</string>
                <key>spriteSourceSize</key>
                <string>{272,336}</string>
                <key>textureRect</key>
                <string>{{284,1},{272,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_left.png</string>
            <key>size</key>
            <string>{557,965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63cbadc5c05f7e8b869b0b8a800139b4:8cf4caa54a6a2b0a5f403b9648c7e163:da5b6e3ae54a6192e6b4f484c8a7b9f0$</string>
            <key>textureFileName</key>
            <string>down_left.png</string>
        </dict>
    </dict>
</plist>
