<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,222}</string>
                <key>spriteSourceSize</key>
                <string>{204,222}</string>
                <key>textureRect</key>
                <string>{{1,714},{204,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,357}</string>
                <key>spriteSourceSize</key>
                <string>{228,357}</string>
                <key>textureRect</key>
                <string>{{1,1},{228,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,352}</string>
                <key>spriteSourceSize</key>
                <string>{223,352}</string>
                <key>textureRect</key>
                <string>{{1,360},{223,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,357}</string>
                <key>spriteSourceSize</key>
                <string>{214,357}</string>
                <key>textureRect</key>
                <string>{{1,1273},{214,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,351}</string>
                <key>spriteSourceSize</key>
                <string>{221,351}</string>
                <key>textureRect</key>
                <string>{{1,920},{221,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,365}</string>
                <key>spriteSourceSize</key>
                <string>{205,365}</string>
                <key>textureRect</key>
                <string>{{1,1632},{205,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{230,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2978286fe9482bbf698683ee16adc064:1d528bc711f09acdd7e583baea879e4c:1f82f659e2591d395bca4b2a7c74dd8a$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
