<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,109}</string>
                <key>spriteSourceSize</key>
                <string>{111,109}</string>
                <key>textureRect</key>
                <string>{{1,188},{111,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,112}</string>
                <key>spriteSourceSize</key>
                <string>{94,112}</string>
                <key>textureRect</key>
                <string>{{1,92},{94,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,113}</string>
                <key>spriteSourceSize</key>
                <string>{89,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,88}</string>
                <key>spriteSourceSize</key>
                <string>{93,88}</string>
                <key>textureRect</key>
                <string>{{1,456},{93,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,76}</string>
                <key>textureRect</key>
                <string>{{1,378},{96,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,77}</string>
                <key>spriteSourceSize</key>
                <string>{98,77}</string>
                <key>textureRect</key>
                <string>{{1,299},{98,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{115,545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24b352f4b6fc3194ee6df273ef8d2ca7:9668643f8f3c224f76d5d619c22eac38:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
