<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,134}</string>
                <key>spriteSourceSize</key>
                <string>{89,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,133}</string>
                <key>spriteSourceSize</key>
                <string>{89,133}</string>
                <key>textureRect</key>
                <string>{{137,1},{89,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,98}</string>
                <key>spriteSourceSize</key>
                <string>{126,98}</string>
                <key>textureRect</key>
                <string>{{272,1},{126,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,106}</string>
                <key>spriteSourceSize</key>
                <string>{109,106}</string>
                <key>textureRect</key>
                <string>{{526,1},{109,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,107}</string>
                <key>spriteSourceSize</key>
                <string>{124,107}</string>
                <key>textureRect</key>
                <string>{{400,1},{124,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{637,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_left.png</string>
            <key>size</key>
            <string>{742,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c42fd0771ebe66712f44c9bcd7a9ef:d7c2d10eb2f622098729ca4cee0ae53c:da5b6e3ae54a6192e6b4f484c8a7b9f0$</string>
            <key>textureFileName</key>
            <string>down_left.png</string>
        </dict>
    </dict>
</plist>
