<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,108}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{132,1},{96,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,111}</string>
                <key>spriteSourceSize</key>
                <string>{99,111}</string>
                <key>textureRect</key>
                <string>{{594,1},{99,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,109}</string>
                <key>spriteSourceSize</key>
                <string>{129,109}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,101}</string>
                <key>spriteSourceSize</key>
                <string>{124,101}</string>
                <key>textureRect</key>
                <string>{{468,1},{124,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,105}</string>
                <key>spriteSourceSize</key>
                <string>{122,105}</string>
                <key>textureRect</key>
                <string>{{344,1},{122,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,107}</string>
                <key>spriteSourceSize</key>
                <string>{112,107}</string>
                <key>textureRect</key>
                <string>{{230,1},{112,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{706,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb4a3b5d9ce7f918cf6732060d6def56:c618a04e3c004430f8238fa96183e161:eeed88a3defe439e06eddcb618ab96e1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
