<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{594,1},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,114}</string>
                <key>spriteSourceSize</key>
                <string>{108,114}</string>
                <key>textureRect</key>
                <string>{{484,1},{108,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,120}</string>
                <key>spriteSourceSize</key>
                <string>{141,120}</string>
                <key>textureRect</key>
                <string>{{117,1},{141,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,120}</string>
                <key>spriteSourceSize</key>
                <string>{111,120}</string>
                <key>textureRect</key>
                <string>{{260,1},{111,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,114}</string>
                <key>spriteSourceSize</key>
                <string>{123,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,109}</string>
                <key>spriteSourceSize</key>
                <string>{116,109}</string>
                <key>textureRect</key>
                <string>{{373,1},{116,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_right.png</string>
            <key>size</key>
            <string>{706,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6d171a3b8fea411bb075052c51a9b08:e9c5f426e593124a45d91136a6da2f45:7eff046a8e6eda71f8e735d563332e9b$</string>
            <key>textureFileName</key>
            <string>up_right.png</string>
        </dict>
    </dict>
</plist>
