<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,106}</string>
                <key>spriteSourceSize</key>
                <string>{113,106}</string>
                <key>textureRect</key>
                <string>{{577,1},{113,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,107}</string>
                <key>spriteSourceSize</key>
                <string>{113,107}</string>
                <key>textureRect</key>
                <string>{{117,1},{113,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,107}</string>
                <key>spriteSourceSize</key>
                <string>{113,107}</string>
                <key>textureRect</key>
                <string>{{232,1},{113,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,107}</string>
                <key>spriteSourceSize</key>
                <string>{114,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,107}</string>
                <key>spriteSourceSize</key>
                <string>{113,107}</string>
                <key>textureRect</key>
                <string>{{347,1},{113,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,107}</string>
                <key>spriteSourceSize</key>
                <string>{113,107}</string>
                <key>textureRect</key>
                <string>{{462,1},{113,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{691,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e85325b5d4e716cfb0f4575231182c9e:cbf549cba79563c5b26e2d34dfab2e7d:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
