<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,131}</string>
                <key>spriteSourceSize</key>
                <string>{161,131}</string>
                <key>textureRect</key>
                <string>{{444,1},{161,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,126}</string>
                <key>spriteSourceSize</key>
                <string>{153,126}</string>
                <key>textureRect</key>
                <string>{{135,1},{153,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,131}</string>
                <key>spriteSourceSize</key>
                <string>{157,131}</string>
                <key>textureRect</key>
                <string>{{607,1},{157,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,130}</string>
                <key>spriteSourceSize</key>
                <string>{152,130}</string>
                <key>textureRect</key>
                <string>{{290,1},{152,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,125}</string>
                <key>spriteSourceSize</key>
                <string>{132,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,131}</string>
                <key>spriteSourceSize</key>
                <string>{154,131}</string>
                <key>textureRect</key>
                <string>{{766,1},{154,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{921,133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc6274acd9e813c14100a942296d2891:7fba20b5c17ffa4654132dda2a734d5d:eeed88a3defe439e06eddcb618ab96e1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
