<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,115}</string>
                <key>spriteSourceSize</key>
                <string>{105,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{109,217},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,96}</string>
                <key>spriteSourceSize</key>
                <string>{106,96}</string>
                <key>textureRect</key>
                <string>{{118,1},{106,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,111}</string>
                <key>spriteSourceSize</key>
                <string>{107,111}</string>
                <key>textureRect</key>
                <string>{{1,108},{107,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{1,217},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,101}</string>
                <key>spriteSourceSize</key>
                <string>{105,101}</string>
                <key>textureRect</key>
                <string>{{114,109},{105,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{216,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7894781504dc8c30b30737c0485d4ee1:57dd2135dac86db593afdd3510237812:1f82f659e2591d395bca4b2a7c74dd8a$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
