<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,121}</string>
                <key>spriteSourceSize</key>
                <string>{103,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,115}</string>
                <key>spriteSourceSize</key>
                <string>{102,115}</string>
                <key>textureRect</key>
                <string>{{1,363},{102,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,110}</string>
                <key>spriteSourceSize</key>
                <string>{102,110}</string>
                <key>textureRect</key>
                <string>{{1,592},{102,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,119}</string>
                <key>spriteSourceSize</key>
                <string>{101,119}</string>
                <key>textureRect</key>
                <string>{{1,124},{101,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,116}</string>
                <key>spriteSourceSize</key>
                <string>{102,116}</string>
                <key>textureRect</key>
                <string>{{1,245},{102,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,110}</string>
                <key>spriteSourceSize</key>
                <string>{103,110}</string>
                <key>textureRect</key>
                <string>{{1,480},{103,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up.png</string>
            <key>size</key>
            <string>{105,703}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8d96f03fef035aabe7a28577174b0aa:ad8b67b483ec03995f9dca60cfec4eb6:c21be1cf162a290cd45875df3f8a51a9$</string>
            <key>textureFileName</key>
            <string>up.png</string>
        </dict>
    </dict>
</plist>
