<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,151}</string>
                <key>spriteSourceSize</key>
                <string>{163,151}</string>
                <key>textureRect</key>
                <string>{{1,1},{163,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,153}</string>
                <key>spriteSourceSize</key>
                <string>{164,153}</string>
                <key>textureRect</key>
                <string>{{166,1},{164,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,154}</string>
                <key>spriteSourceSize</key>
                <string>{164,154}</string>
                <key>textureRect</key>
                <string>{{166,156},{164,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,153}</string>
                <key>spriteSourceSize</key>
                <string>{170,153}</string>
                <key>textureRect</key>
                <string>{{332,1},{170,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,154}</string>
                <key>spriteSourceSize</key>
                <string>{171,154}</string>
                <key>textureRect</key>
                <string>{{332,156},{171,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,154}</string>
                <key>spriteSourceSize</key>
                <string>{163,154}</string>
                <key>textureRect</key>
                <string>{{1,154},{163,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{504,311}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e98a1ec4032fc34bca6f1bba1ef0eda3:0ffa92a3c8f90674671305261b74d982:eeed88a3defe439e06eddcb618ab96e1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
