<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,235}</string>
                <key>spriteSourceSize</key>
                <string>{204,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,235}</string>
                <key>spriteSourceSize</key>
                <string>{204,235}</string>
                <key>textureRect</key>
                <string>{{1,238},{204,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,235}</string>
                <key>spriteSourceSize</key>
                <string>{204,235}</string>
                <key>textureRect</key>
                <string>{{1,475},{204,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,234}</string>
                <key>spriteSourceSize</key>
                <string>{204,234}</string>
                <key>textureRect</key>
                <string>{{1,949},{204,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,234}</string>
                <key>spriteSourceSize</key>
                <string>{204,234}</string>
                <key>textureRect</key>
                <string>{{1,1185},{204,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,235}</string>
                <key>spriteSourceSize</key>
                <string>{204,235}</string>
                <key>textureRect</key>
                <string>{{1,712},{204,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{206,1420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4614e8a25e0ff3cb98b40db7b3c4e1e7:21f17222820062513fbc6c15af12b0f8:1f82f659e2591d395bca4b2a7c74dd8a$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
