<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,258}</string>
                <key>spriteSourceSize</key>
                <string>{270,258}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,258}</string>
                <key>spriteSourceSize</key>
                <string>{270,258}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,258}</string>
                <key>spriteSourceSize</key>
                <string>{270,258}</string>
                <key>textureRect</key>
                <string>{{545,1},{270,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,258}</string>
                <key>spriteSourceSize</key>
                <string>{269,258}</string>
                <key>textureRect</key>
                <string>{{817,1},{269,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,258}</string>
                <key>spriteSourceSize</key>
                <string>{269,258}</string>
                <key>textureRect</key>
                <string>{{1088,1},{269,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,258}</string>
                <key>spriteSourceSize</key>
                <string>{269,258}</string>
                <key>textureRect</key>
                <string>{{1359,1},{269,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_left.png</string>
            <key>size</key>
            <string>{1629,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be2fb693bbcd9c39ab65e95eb71f6bb8:f2c8208319998fafb21bd7557e58ed70:59ac35ba4497a1e196ef8cc4ef503378$</string>
            <key>textureFileName</key>
            <string>up_left.png</string>
        </dict>
    </dict>
</plist>
