<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,113}</string>
                <key>spriteSourceSize</key>
                <string>{109,113}</string>
                <key>textureRect</key>
                <string>{{1,170},{109,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,93}</string>
                <key>spriteSourceSize</key>
                <string>{112,93}</string>
                <key>textureRect</key>
                <string>{{133,1},{112,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,95}</string>
                <key>textureRect</key>
                <string>{{127,96},{112,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,87}</string>
                <key>spriteSourceSize</key>
                <string>{128,87}</string>
                <key>textureRect</key>
                <string>{{116,193},{128,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,84}</string>
                <key>spriteSourceSize</key>
                <string>{124,84}</string>
                <key>textureRect</key>
                <string>{{1,84},{124,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,81}</string>
                <key>spriteSourceSize</key>
                <string>{130,81}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_right.png</string>
            <key>size</key>
            <string>{246,281}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4f20fcf423f6268b10bf4bd9ffb806f:e8854136e9fa9550466528323f346844:7eff046a8e6eda71f8e735d563332e9b$</string>
            <key>textureFileName</key>
            <string>up_right.png</string>
        </dict>
    </dict>
</plist>
