<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,162}</string>
                <key>spriteSourceSize</key>
                <string>{176,162}</string>
                <key>textureRect</key>
                <string>{{497,1},{176,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,164}</string>
                <key>spriteSourceSize</key>
                <string>{165,164}</string>
                <key>textureRect</key>
                <string>{{331,1},{165,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,167}</string>
                <key>spriteSourceSize</key>
                <string>{161,167}</string>
                <key>textureRect</key>
                <string>{{850,1},{161,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,166}</string>
                <key>spriteSourceSize</key>
                <string>{169,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,166}</string>
                <key>spriteSourceSize</key>
                <string>{157,166}</string>
                <key>textureRect</key>
                <string>{{172,1},{157,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,162}</string>
                <key>spriteSourceSize</key>
                <string>{173,162}</string>
                <key>textureRect</key>
                <string>{{675,1},{173,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right.png</string>
            <key>size</key>
            <string>{1018,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:104386f4b4a27ad45034550da2ca23a9:e065610f85d9a3b11af88cdfb40df09d:eeed88a3defe439e06eddcb618ab96e1$</string>
            <key>textureFileName</key>
            <string>right.png</string>
        </dict>
    </dict>
</plist>
