<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,157}</string>
                <key>spriteSourceSize</key>
                <string>{152,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,156}</string>
                <key>spriteSourceSize</key>
                <string>{152,156}</string>
                <key>textureRect</key>
                <string>{{160,1},{152,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,156}</string>
                <key>spriteSourceSize</key>
                <string>{152,156}</string>
                <key>textureRect</key>
                <string>{{318,1},{152,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,157}</string>
                <key>spriteSourceSize</key>
                <string>{152,157}</string>
                <key>textureRect</key>
                <string>{{1,155},{152,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,156}</string>
                <key>spriteSourceSize</key>
                <string>{153,156}</string>
                <key>textureRect</key>
                <string>{{318,155},{153,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,156}</string>
                <key>spriteSourceSize</key>
                <string>{152,156}</string>
                <key>textureRect</key>
                <string>{{160,155},{152,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{475,309}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62573a6babfa917d20573f5a7e142130:f3e322564155bdc25aad3c89f6d641a6:1f82f659e2591d395bca4b2a7c74dd8a$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
