<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,159}</string>
                <key>spriteSourceSize</key>
                <string>{162,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,159}</string>
                <key>spriteSourceSize</key>
                <string>{162,159}</string>
                <key>textureRect</key>
                <string>{{165,1},{162,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,159}</string>
                <key>spriteSourceSize</key>
                <string>{162,159}</string>
                <key>textureRect</key>
                <string>{{329,1},{162,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,159}</string>
                <key>spriteSourceSize</key>
                <string>{162,159}</string>
                <key>textureRect</key>
                <string>{{493,1},{162,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,159}</string>
                <key>spriteSourceSize</key>
                <string>{162,159}</string>
                <key>textureRect</key>
                <string>{{657,1},{162,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,159}</string>
                <key>spriteSourceSize</key>
                <string>{162,159}</string>
                <key>textureRect</key>
                <string>{{821,1},{162,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_right.png</string>
            <key>size</key>
            <string>{984,161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd9cf2473b4d07475dfd6902897c2cac:10e597532cf336294a38c3317e42f519:35344b1f1dc2958ecd5f4751a3f84f78$</string>
            <key>textureFileName</key>
            <string>down_right.png</string>
        </dict>
    </dict>
</plist>
