<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,163}</string>
                <key>spriteSourceSize</key>
                <string>{125,163}</string>
                <key>textureRect</key>
                <string>{{467,1},{125,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{594,1},{130,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,141}</string>
                <key>spriteSourceSize</key>
                <string>{213,141}</string>
                <key>textureRect</key>
                <string>{{160,1},{213,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,162}</string>
                <key>spriteSourceSize</key>
                <string>{197,162}</string>
                <key>textureRect</key>
                <string>{{303,1},{197,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,157}</string>
                <key>spriteSourceSize</key>
                <string>{238,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,142}</string>
                <key>spriteSourceSize</key>
                <string>{119,142}</string>
                <key>textureRect</key>
                <string>{{726,1},{119,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_right.png</string>
            <key>size</key>
            <string>{846,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bc6e47f7e42c96bd5e8210141f86249:c0c251f647033cef30ad3182ea55d846:35344b1f1dc2958ecd5f4751a3f84f78$</string>
            <key>textureFileName</key>
            <string>down_right.png</string>
        </dict>
    </dict>
</plist>
