<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,162}</string>
                <key>spriteSourceSize</key>
                <string>{175,162}</string>
                <key>textureRect</key>
                <string>{{1,177},{175,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,128}</string>
                <key>spriteSourceSize</key>
                <string>{173,128}</string>
                <key>textureRect</key>
                <string>{{1,341},{173,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,170}</string>
                <key>spriteSourceSize</key>
                <string>{143,170}</string>
                <key>textureRect</key>
                <string>{{178,317},{143,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,174}</string>
                <key>spriteSourceSize</key>
                <string>{211,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{211,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,178}</string>
                <key>spriteSourceSize</key>
                <string>{181,178}</string>
                <key>textureRect</key>
                <string>{{214,1},{181,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,131}</string>
                <key>spriteSourceSize</key>
                <string>{196,131}</string>
                <key>textureRect</key>
                <string>{{178,184},{196,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_right.png</string>
            <key>size</key>
            <string>{393,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc85942ef8f7e49b4eb238ccc71a1037:f28e1c40ac5d7400c498a7e4a52096ed:7eff046a8e6eda71f8e735d563332e9b$</string>
            <key>textureFileName</key>
            <string>up_right.png</string>
        </dict>
    </dict>
</plist>
